@use 'variables' as v;

.clientes {
    background: linear-gradient(to bottom, #ffc3c7, v.$primary-color);
    padding: 300px 0 80px;
    text-align: center;

    h2 {
        font-size: 1.5rem;
        color: white;
        margin-bottom: 50px;
        padding: 0;
        background: none;
        display: inline-block;
    }

    .clientes-container {
        max-width: 1100px;
        margin: 0 auto;
    }

    .clientes-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 25px;
        padding: 0 20px;
        justify-content: center;

        .cliente {
            background: rgba(255, 0, 0, 0.7);
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px;
            height: 100px;
            transition: transform 0.2s ease-in-out;

            &:hover {
                transform: scale(1.05);
            }

            img {
                max-width: 90%;
                max-height: 70px;
                filter: brightness(0) invert(1);
                object-fit: contain;
            }
        }
    }
}
