@use 'variables';
@use 'mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: variables.$font-family;
    background-color: variables.$primary-color;
    color: variables.$text-color;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
