@use 'variables' as v;
@use 'mixins';

.header {
    background-color: v.$text-color;
    padding: 1rem 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 2rem;
    }

    .logo {
        width: 150px;
        height: auto;
    }

    .social {
        a {
          display: inline-block;
          background-color: rgba(0, 0, 0, 0.5); // Fondo semitransparente
          border-radius: 50%; // Forma circular
          padding: 5px; // Espacio alrededor del ícono
          transition: background-color 0.3s ease;

          &:hover {
            background-color: rgba(0, 0, 0, 0.8); // Fondo más oscuro al hacer hover
          }

          svg {
            color: red; // Color del SVG (blanco)
            width: 20px; // Ajusta el tamaño del SVG
            height: 20px;
          }

          img {
            filter: brightness(0) invert(1); // Convierte el SVG a blanco
            width: 20px;
            height: 20px;
          }
        }
    }
}
