@use 'variables' as v;
@use 'mixins';

.header {
    background-color: v.$text-color;
    padding: 1rem 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 2rem;
    }

    .logo {
        width: 150px;
        height: auto;
    }

    .icon {
        fill: red; // Cambia el color a rojo
        width: 30px;
        height: 30px;
    }
}
