@use "variables" as v;
@use "sass:color";

.suscripcion {
    background-color: v.$text-color; // Fondo blanco
    color: v.$primary-color; // Texto rojo
    text-align: center;
    height: 30px;
    display: flex;
    align-items: center; // Centrar verticalmente
    justify-content: center; // Centrar horizontalmente

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    p {
        font-size: 0.6rem;
        font-weight: lighter;
        color: color.scale(v.$primary-color, $lightness: 15%); // Rojo más claro

        span {
          font-weight: bold;
          color: v.$primary-color; // Rojo oscuro
          margin-left: 5px;
        }

        .cta {
          text-decoration: underline;
          margin-left: 5px;
          color: v.$primary-color;
          transition: color 0.3s;
        }
    }
}
