@use 'variables' as v;
@use 'mixins';
@use 'global';
@use 'header';
@use 'seccion-servicios';
@use 'seccion-ciencias';
@use 'clientes';

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 79vh;
    position: relative;
    overflow: hidden;


    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 30%;
      height: 100%;
      background: linear-gradient(to right, rgba(255, 0, 0, 0.85), rgba(255, 0, 0, 0));
      z-index: 2;
      pointer-events: none;
    }

    .swiper {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
    }

    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: white;
    }

    .swiper-pagination-bullet {
        background: white;
    }


    .hero-container {
      position: absolute;
      top: 70%;
      left: 5%;
      transform: translateY(-50%);
      color: white;
      z-index: 3;
      max-width: 40%;

      h1 {
          font-size: 5rem;
          font-weight: bold;
      }
    }

}
