@use 'variables' as v;  // Primero, importa las variables
@use 'mixins';
@use 'global';
@use 'header';

/*
body {
  background-color: v.$primary-color;
  color: v.$text-color;
}
*/

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 79vh;
  position: relative;
}

.hero-img {
  max-width: 100%;
  height: auto;
}
